/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-feb-2017, 17:37:21
    Author     : Michel Jongbloed
*/

#wppfm-backups th {
    padding: 15px 10px;
}

#wppfm-backups .wppfm-backup-filename {
    width: 180px;
}

#wppfm-backups .wppfm-backup-filedate {
    width: 100px;
}

table.smallfat {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-spacing: 0;
    clear: both;
    margin: 0;
}

#wppfm_third_party_attr_keys {
    width: 800px;
}